[Desktop Entry]
Version=1.0
Type=Application
Name=metafolder
Icon=folder-symbolic
Exec="metafolder"
Comment=alternate icon visualizer
Terminal=false
StartupNotify=true
